.nav-element {
    float: left;
    margin-right: 10px;
}

.login-element {
    float:right;
    margin-left: 10px;
}

.input-field {
    margin-bottom: 4px;
    float:right;
}

#user-label, #password-label{
    float:left
}

html, body {
    background: linear-gradient(60deg, #f4f4f4, powderblue 75%);
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100%;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.content {
    text-align: center;
    width:80%;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

#login-submit {
    margin-top: 10px;
    width: 100%;
}

.wrap {
    padding: 1em;
}

.page {
    width: 100%;
    margin: 3em auto;
    background: #f4f4f4;
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.align-left {
    text-align: left !important;
}

.grid-container{
    width: 100%; 
    max-width: 1200px;      
}

/*-- our cleafix hack -- */ 
.row:before, 
.row:after {
    content:"";
      display: table ;
    clear:both;
}

[class*='col-'] {
    float: left; 
    min-height: 1px; 
    width: 16.66%; 
    /*-- our gutter -- */
    padding: 12px; 
}

.col-1{ width: 16.66%; }
.col-2{ width: 30%; }
.col-3{ width: 46%;    }
.col-4{ width: 66.66%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%;   }

/*-- some extra column content styling --*/
[class*='col-'] > p {
 padding: 0;
 margin: 0;
 text-align: center; 
}